@import "variables";

body {
  background-image: url(/images/webcam-glitch-003.jpg);
}

.navbar {
  margin-bottom: 0;
}

#page-container {
  background-color: #FFF;
  margin-bottom: $baseLineHeight * 4;
  padding-top: $baseLineHeight;
}

.footer {
  margin-top: $baseLineHeight * 3;
  padding: 15px 20px;
  border-top: 1px solid #E5E5E5;
  p {
    margin-bottom: 0;
  }
}

h1.title {
  margin-bottom: 20px;
}

.archive {
  h1.title {
    margin-bottom: 0;
  }
}

article.post {
  margin-bottom: $baseLineHeight * 4;
}

// Rounded corner junk.
.bottom-left-rounded-corner {
	-webkit-border-bottom-left-radius: 10px;
	-khtml-border-radius-bottomleft: 10px;	
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
}

.bottom-right-rounded-corner {
	-webkit-border-bottom-right-radius: 10px;
	-khtml-border-radius-bottomright: 10px;	
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
}
