# OSX
.DS_Store

# Sass
.sass-cache
.gist-cache
.pygments-cache

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# Jekyll
_site
drafts/
.jekyll-metadata
source/_stash
source/stylesheets/screen.css
_deploy
public
