<div class="row">
  <div class="offset2 span2">
    <img src="/images/mathiasx.jpg" alt="portrait">
  </div>
  <div class="span3">
    {% include license.html %}
  </div>
  <div class="offset1 span3">
    <ul class="nav nav-list">
      <li><a href="https://github.com/mathias">Github</a></li>
      <li><a href="{{ root_url }}/presentations">Presentations</a></li>
      <li><a href="http://feeds.feedburner.com/MattGaugerBlog" title="Atom XML/RSS Feed">Atom Feed</a></li>
    </ul>
  </div>
</div>
