<div class="row">
  <div class="offset2 span2">
    <img src="/images/mathiasx.jpg" alt="portrait">
  </div>
  <div class="span3">
    {% include license.html %}
  </div>
  <div class="offset1 span3">
    <ul class="nav nav-list">
      <li class="nav-header">Elsewhere on the web</li>
      <li><a href="https://twitter.com/mathiasx">Twitter</a></li>
      <li><a href="https://github.com/mathias">Github</a></li>
      <li><a href="http://www.slideshare.net/mathiasx">Talks</a></li>
      <li><a href="http://hackz0r.tumblr.com">Tumblog</a></li>
    </ul>
  </div>
</div>
