<header>
  <div class="container">
    <a href="{{site.url}}/" class="site-title">
      <img src="/images/blog_logo_lightbulb.svg" alt="{{ site.title }}" class="site-logo" />
      {{ site.title }}</a>
    <nav>
      <ul class="nav">
        {% assign links = site.pages | sort: 'title' %}
        {% for link in links %}
          {% if link.title %}
          <li><a class="nav__item{% if page.url == link.url %} nav__item--current{% endif %}" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
