---
layout: default
redirect_from:
  - /blog/
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% if post.post_excerpt %}
          {{ post.post_excerpt | markdownify }}
        {% endif %}
        <a class="" href="{{ post.url | prepend: site.baseurl }}">Read more.</a>
        <small>({{ post.content | number_of_words }} words)</small>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/atom.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
